<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.skg.flutter_aws_plugin">
    <application android:name="io.flutter.app.FlutterApplication">
        <activity android:name=".LoginWithHostedUI">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="myapp"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
